.counter-widget{padding: 1rem; display: flex; flex-direction: column;}    	
.counter-widget h2{ text-align: center; color: #EC3F77; font-size: 63px; margin: 0.4rem 0; font-weight: 700; line-height: 1; margin-top: 1.4rem;}    	    	

.counter-widget img{max-height: 80px; margin:auto;}
.counter-widget h3{font-style: italic;color: #940FA0;  font-size:25px; font-weight: 700; text-align: center; text-transform: capitalize; margin: 0.4rem 0;}
.counter-widget p{color: #000;  text-align: center;  text-transform: capitalize; margin: 0.4rem auto; max-width: 600px;}
