*.table tr th, tr{max-width: 400px;}
.dataTable>thead>tr>th, .dataTable>tbody>tr>th, .dataTable>tfoot>tr>th{padding-right: 23px !important;}
.dataTable>thead>tr>th:last-child, .dataTable>tbody>tr>th:last-child, .dataTable>tfoot>tr>th:last-child{padding-right: 0 !important;}
.dataTable>thead>tr>th{vertical-align: top;}

.main-listing {position: relative;}
.main-listing .panel{transition: all 0.4s ease; }
.main-listing .panel:first-child{position: relative; z-index: 99;}
/*.main-listing .panel:nth-child(2) {position:absolute; left: 0; top: 0; width: 100%; z-index:9; transform: scale(0);}
.main-listing .panel:nth-child(3) {position:absolute; left: 0; top: 0; width: 100%; z-index:9; transform: scale(0);}*/
.main-listing .panel{position:absolute; left: 0; top: 0; width: 100%; z-index:9; transform: scale(0);}
.main-listing .panel.inactive{transform: scale(0); transform-origin: center;}
.main-listing .panel.active{transform: scale(1); transform-origin: center;}
.main-listing .listing .text-right{text-align: center !important;}

.widget-code-button-panel {position: absolute; right: 0; top: 0;}
.fileinput-new input[type=file]{z-index: 99;}
.sample-code{ overflow-x: unset !important; max-width: 100% !important;}
.sample-code .copy-code {padding: 25px 15px; padding: 0 15px; overflow-x: auto; max-width: 100% !important; width: 100%;}

.pointer-none { pointer-events: none; cursor: not-allowed; color: #AAAAAA;}
.response-panel{height: 100%; overflow: hidden;}
.response-panel .sample-code{height: 100%;}

.clicking-td{cursor: pointer;}
.form-control.disable{pointer-events: none; cursor: not-allowed; border: 0 none; background-image: none !important;}
.button-details-datatable .dataTables_length{display: none;}
.button-details-datatable #datatables_filter{display: none;}

.button-details-datatable .dataTables_info {display: none;}
.button-details-datatable .dataTables_paginate {display: none;}

.bg-header {background: #112035 !important;}


/** Responsive **/
@media(max-width: 1699px){
    .table tr th, tr{ max-width: 260px;}
}

@media(max-width: 1399px){
    .table thead tr th {font-size: 0.9rem;}
}

@media(max-width: 1299px){
    .table tr th, tr{ max-width: 170px;}
    #datatables.dataTable>tbody>tr>td .btn{width: 100%;}
    #datatables.dataTable>tbody>tr>td .btn.btn-just-icon{width: auto;}
}

@media(max-width: 991px){
    #datatables.dataTable>tbody>tr>td .btn{width: 100%;}
    #datatables.dataTable>tbody>tr>td .btn.btn-just-icon{width: auto;}
}

@media(max-width: 575px){
    .top-button-panel {text-align: center !important;}
}

@media(max-width: 399px){
    .top-button-panel .btn {width: 100%; margin: 0.3125rem 0 !important;}
}